<html>
    <head>
        <title>GTFS API</title>
        <style>
            {{ css | safe }}
        </style>
    </head>
    <body>
        <select name="accept" id="accept" style="float: right">
            <option value="text/html">HTML</option>
            <option value="application/json">JSON</option>
            <option value="application/yaml">YAML</option>
            <option value="text/csv">CSV</option>
            <option value="text/plain">Plain</option>
        </select>
        <form action="" method="get" id="form">
            <input type="text" name="stop" id="stop1" placeholder="Stop number" />
            <input type="text" name="stop" id="stop2" placeholder="Stop number" />
            <button type="submit">Submit</button>
        </form>
            {{ table | safe }}
        <script>
            {{ script | safe }}
        </script>
    </body>
</html>
